/*CSS*/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500");

body,
html {
  height: 700px;
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
}
p {
  margin: 15px;
}
.bg {
  background-image: url("https://drive.google.com/uc?id=1f_r1fU1T3PufoxqT0KZFbu8ivrpMvM9o");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
}

#container {
  background-color: #ffffff99;
  width: 300px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}
#location {
  font-size: 3em;
}
#temperature {
  font-size: 2em;
}
#tempBtn {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1em;
  padding: 10px;
  background-color: #00000033;
  border: solid 2px #000;
  cursor: pointer;
  transition: 0.5s;
}
#tempBtn:focus {
  outline: none;
}
#tempBtn:hover {
  background-color: #ffffff66;
}
